# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/ipch
*.ipch

*.suo
**/.suo 
Debug
.vs/SRPG만들기/v16/Browse.VC.opendb
.vs/SRPG만들기/v16/Browse.VC.db-wal
.vs/SRPG만들기/v16/Browse.VC.db-shm
.vs/SRPG만들기/v16/Browse.VC.db
.vs/SRPG만들기/v16/.suo
Debug/SRPG만들기.ilk
Debug/SRPG만들기.pdb
.vs/SRPG만들기/v16/.suo
*.pdb
Debug/SRPG만들기.ilk
.vs/SRPG만들기/v16/.suo
